<form method="post" action="/pose-estimation" enctype="multipart/form-data">
    <div class="form-group">
        <label>Chọn hình ảnh</label>
        <input type="file" name="image" id="input-image" class="form-control-file border">
    </div>
    <button type="submit" class="btn btn-primary btn-sm">
        <i class="fa fa-plus-square"></i> Pose estimation
    </button>
</form>
<br>
<script src="js/pose.js" width={{width}} height={{height}}></script>